@inject IHttpContextAccessor HttpContextAccessor
@{
    var user = HttpContextAccessor.HttpContext?.User;
    var isAuthenticated = user?.Identity?.IsAuthenticated ?? false;
    var username = user?.Identity?.Name ?? "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Каталог рецептов</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/RecipeCatalog.styles.css" asp-append-version="true"/>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3"
         style="background-color:var(--bs-body-bg)">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Каталог рецептов</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Categories/Index">Категории</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Recipes"
                           asp-action="Index">Рецепты</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (!isAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Account/Login">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Account/Register">Регистрация</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                                @username
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li>
                                    <a class="dropdown-item" asp-page="/Account/Profile">Профиль</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-page="/Account/Logout">Выход</a>
                                </li>
                            </ul>
                        </li>
                    }
                    <li class="d-none d-md-inline-block nav-item text-muted ps-2 pe-3 py-2">|</li>
                    <li class="nav-item d-flex align-items-center pt-2 pt-md-0">
                        <input type="checkbox" id="themeToggle" checked class="toggle--checkbox">
                        <label for="themeToggle" class="toggle--label">
                            <span class="toggle--label-background"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="py-4 border-top footer text-muted">
    <div class="container">
        <div class="d-flex flex-wrap gap-1" style="line-height:1.3">
            <span>&copy; 2025 - Каталог рецептов -</span>
            <a asp-area="" asp-page="/Privacy">Конфиденциальность</a>
        </div>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>

</html>

<script>
    const html = document.documentElement;
    const themeToggle = document.getElementById('themeToggle');
    const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;

    // проверяем сохранённой темы
    const savedTheme = localStorage.getItem('theme');
    
    // установка начальной темы (localStorage в приоритете) и состояния чекбокса
    const initialTheme = savedTheme || (prefersDark ? "dark" : "light");
    html.setAttribute("data-bs-theme", initialTheme);
    updateCheckboxState();

    // отслеживание изменения темы в системе (если нет сохранённой)
    window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", e => {
        if (!localStorage.getItem('theme')) {
            html.setAttribute("data-bs-theme", e.matches ? "dark" : "light");
            updateCheckboxState();
        }
    });

    // обработчик клика на чекбокс
    themeToggle.addEventListener('change', toggleTheme);

    // функция переключения темы
    function toggleTheme() {
        const currentTheme = html.getAttribute("data-bs-theme");
        const newTheme = currentTheme === "dark" ? "light" : "dark";
        html.setAttribute("data-bs-theme", newTheme);
        localStorage.setItem('theme', newTheme);
        updateCheckboxState();
    }

    function updateCheckboxState() {
        themeToggle.checked = html.getAttribute("data-bs-theme") === "dark";
    }
</script>