@page
@model ProfilesModel
@{
    ViewData["Title"] = "Пользователи";
}

<h2>Пользователи</h2>

<div class="mt-4 row">
    @foreach (var user in Model.Users)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@user.Email</h5>
                    <div class="mt-3 d-flex align-items-center gap-2">
                        <p class="mb-0">Роль:</p>
                        <div class="bg-secondary rounded-3 text-bg-secondary"
                             style="padding:4px 8px;font-size:13px">
                            @user.Role
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <a asp-page="Profile" asp-route-id="@user.Id" class="btn btn-primary">Редактировать</a>
                </div>
            </div>
        </div>
    }
</div>