@page
@model RecipeCatalog.Pages.CategoryModel
@{
	if (Model.Category != null && Model.Category.Id != 0) {
		ViewData["Title"] = Model.Category.Name;
	} else
	{
		ViewData["Title"] = "Добавить категорию";
	}
}

@if (Model.Category != null)
{
	<h2>
		@(Model.Category.Id == 0 ? "Добавить новую категорию" : "Редактировать категорию")
	</h2>

	<form method="post" class="mt-4">
		<div class="form-group">
			<label for="Name">Название категории:</label>
			<input type="text" id="Name" name="Name" value="@Model.Category.Name" required class="mt-2 form-control"
			placeholder="Введите название категории" />
		</div>
		<div class="mt-3 d-flex gap-1">
			<button type="submit" class="btn btn-primary">Сохранить</button>
			@if (Model.Category.Id != 0)
			{
				<a class="btn btn-danger" href="@Url.Page("CategoryDelete", new { id = Model.Category.Id })">
					Удалить
				</a>
			}
		</div>
	</form>
}
else
{
	<h2>Категория не найдена.</h2>
}