@page
@model IndexModel
@{
    ViewData["Title"] = "Каталог рецептов";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в каталог рецептов!</h1>
    <p>Здесь вы найдёте рецепты на любой вкус.</p>
    <p>Изучите <a href="/recipes">книгу рецептов</a>.</p>
</div>
